body {
    padding: 7px;
    background-color: #ebebeb;
}

hr {
    border-color: grey;
}

.head-section, nav, .section-title {
    font-family: 'Roboto', sans-serif;
    color: #202c62;
} 

nav {
    margin-top: 0;
}

.head-section, nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    font-size: 14px;
}

#nav-logo {
    height: 50px;
    text-align: center;
}

.list-class{
    list-style: none;
    display: inline-flex;
    justify-content: space-between;  
    margin: 0;
}

li {
    text-transform: uppercase;
    padding: 10px;    
    font-family: 'Shadows Into Light', cursive;  
    font-weight: bold;
}

.list-class:last-child {
    padding-right: 0;
    margin-right: 0;
}

.list-class:first-child {
    padding-left: 0;
    margin-left: 0;
}

#bio, p, #about {
    font-family: 'Vollkorn', serif;
    
}


#hi {
    font-size: 20px;
    margin-top: 10px;
}

.section-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 20px;
}

a:visited {
    color: #15607A;
}

a:hover {
    color: navy;
}


#project-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.shadow-div{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #F3FAFF;
    margin: 5px;
    padding: 10px;
    width: 30%;
}

#project-body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-image{
    width: 100%;
    margin: 0 auto;
    height: 300px;
    margin-top: 10px;
}

@media only screen and (max-width: 599px) {
    #project-container {
        flex-direction: column;
        width: 100%;
    
    }
    .shadow-div {
        width: 95%;
    }
    nav {
        font-size: 10px;
    }
}

/* footer  */
.footer-class {
    display: flex;
    justify-content: center;
}

