body {
    padding: 5px;
    background-color: #ebebeb;
}

#head-section, nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
}

hr {
    border-color: grey;
}

#bio, #bio-text {
    padding: 5px;
}


#nav-bar {
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
}

.thumbnail-caption {
    font-size: 14px;
    text-align: center;
}

.thumbnail {
    width: 325px;
}

.thumbnail-pic {
    width: 300px;
}

li {
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px;    
}

li:first-child {
    padding-left: 0;
}

li:last-child {
    padding-right: 0;
}

nav {
    width: auto;
}

.section-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
}

#caption-title-1 {
    letter-spacing: 2px;
}

#headshot {
    float: right;
    overflow: auto;
    height: 190px;
}
